@font-face {
  font-family: "PTSans";
  src: url(../fonts/PT_Sans/PT_Sans-Web-Regular.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "PTSans";
  overflow-x: hidden;
}

body .spinning-loader-container {
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  opacity: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .spinning-loader-container .spinning-loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #342e37;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
body .spinning-loader-container .spinning-loader-content .lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body .spinning-loader-container .spinning-loader-content .loader-title {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
body .spinning-loader-container .spinning-loader-content .loader-title h1 {
  font-size: 2rem;
  color: #603140;
}

body.system-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #7678ed;
  overflow: hidden;
}
body.system-login main .login-content {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  border-radius: 0.5rem;
  background: #b2ece1;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}
body.system-login main .login-content .login-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body.system-login main .login-content .login-logo img {
  height: auto;
  max-width: 100%;
}
body.system-login main .login-content .login-input-field {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
body.system-login main .login-content .login-input-field span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
}
body.system-login main .login-content .login-input-field span i {
  margin-right: 0.5rem;
}
body.system-login main .login-content .login-input-field .login-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body.system-login main .login-content .login-input-field .login-input-container input {
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
  font-size: 1.1rem;
  position: relative;
}
body.system-login main .login-content .login-input-field .login-input-container input:focus {
  border: 2px solid #020202;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body.system-login main .login-content .login-input-field .login-input-container span i {
  position: fixed;
  margin-left: -1.1rem;
  cursor: pointer;
}
body.system-login main .login-content .login-input-field .login-submit-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body.system-login main .login-content .login-input-field .login-submit-button button {
  border-radius: 0.2rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: #acc12f;
  border: none;
  outline: none;
}
body.system-login main .login-content .login-input-field .login-submit-button button:focus {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body.system-login footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

body header.dashboard-navigation {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #7678ed;
}
body header.dashboard-navigation .logo-navigation-container {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body header.dashboard-navigation .logo-navigation-container .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body header.dashboard-navigation .logo-navigation-container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body header.dashboard-navigation .logo-navigation-container nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.5rem;
  list-style: none;
}
body header.dashboard-navigation .logo-navigation-container nav ul li i {
  margin-right: 0.3rem;
}
body header.dashboard-navigation .logo-navigation-container nav ul li span {
  font-weight: bold;
}
body header.dashboard-navigation .logo-navigation-container nav ul li:nth-child(2) {
  cursor: pointer;
}
body header.dashboard-navigation .logo-navigation-container nav aside {
  position: absolute;
  z-index: 3;
  margin-top: 3rem;
  margin-left: -2.6rem;
  height: 5rem;
  width: 10rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body header.dashboard-navigation .logo-navigation-container nav aside.show {
  visibility: visible;
  opacity: 1;
}
body header.dashboard-navigation .logo-navigation-container nav aside span {
  margin-left: 7.8rem;
  color: #b2ece1;
}
body header.dashboard-navigation .logo-navigation-container nav aside ul {
  background: #b2ece1;
  margin-top: -1rem;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
}
body header.dashboard-navigation .logo-navigation-container nav aside ul li {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #343434;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body header.dashboard-navigation .logo-navigation-container nav aside ul li:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
body header.dashboard-navigation .logo-navigation-container nav aside ul li:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: none;
}
body header.dashboard-navigation .logo-navigation-container nav aside ul li:hover {
  background: #7678ed;
}

body main.dashboard {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-height: calc(100vh - 1.5rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #b2ece1;
}
body main.dashboard .dashboard-menus-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
}
body main.dashboard .dashboard-menus-container .dashboard-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 14rem;
  width: 14rem;
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.8;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #4392f1;
}
body main.dashboard .dashboard-menus-container .dashboard-menu:hover {
  opacity: 1;
}
body main.dashboard .dashboard-menus-container .dashboard-menu:nth-child(odd) {
  background: #acc12f;
}
body main.dashboard .dashboard-menus-container .dashboard-menu i {
  font-size: 2.5rem;
}

body main.default-container {
  min-height: calc(100vh - 1.5rem);
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25rem)) 1fr;
  grid-gap: 1rem;
  background: #b2ece1;
}
body main.default-container .default-content {
  grid-column: 2/4;
  margin: 3rem 0 2rem 0;
}

body .notification-container {
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: none;
  opacity: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .notification-container .notification-content {
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
body .notification-container .notification-content.error {
  background: #e4572e;
}
body .notification-container .notification-content.success {
  background: #4392f1;
}
body .notification-container .notification-content span {
  font-size: 1.1rem;
}

body .modal-container {
  height: 100vh;
  width: 100vw;
  z-index: 900;
  display: none;
  opacity: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal {
  background: #b2ece1;
  height: 20rem;
  width: 20rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
}
body .modal-container .modal.create-user {
  height: 30.5rem;
  width: 31rem;
}
body .modal-container .modal.create-user .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.create-user .modal-content .close-button {
  align-self: center;
  justify-self: flex-end;
}
body .modal-container .modal.create-user .modal-content .close-button button {
  margin: 0.3rem 0.2rem 0rem 0rem;
  outline: none;
  border: none;
  background: none;
}
body .modal-container .modal.create-user .modal-content .close-button button:hover {
  cursor: pointer;
}
body .modal-container .modal.create-user .modal-content .close-button button:focus {
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.create-user .modal-content .create-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-title {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.7rem;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields label {
  font-size: 1.1rem;
  font-weight: bold;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields select {
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields select:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields input {
  padding: 0.4rem 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields input:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields input[type=date] {
  padding: 0.4rem 0.5rem;
  font-size: 1.1rem;
  text-align: left;
  font-weight: bold;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-submit-button {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-submit-button button {
  border-radius: 0.2rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: #acc12f;
  border: none;
  outline: none;
}
body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-submit-button button:focus {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.edit-user {
  height: 30.5rem;
  width: 31rem;
}
body .modal-container .modal.edit-user .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.edit-user .modal-content .close-button {
  align-self: center;
  justify-self: flex-end;
}
body .modal-container .modal.edit-user .modal-content .close-button button {
  margin: 0.3rem 0.2rem 0rem 0rem;
  outline: none;
  border: none;
  background: none;
}
body .modal-container .modal.edit-user .modal-content .close-button button:hover {
  cursor: pointer;
}
body .modal-container .modal.edit-user .modal-content .close-button button:focus {
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.edit-user .modal-content .edit-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-title {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.7rem;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields label {
  font-size: 1.1rem;
  font-weight: bold;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields select {
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields select:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields input {
  padding: 0.4rem 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields input:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-input-fields input[type=date] {
  padding: 0.4rem 0.5rem;
  font-size: 1.1rem;
  text-align: left;
  font-weight: bold;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-submit-button {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-submit-button button {
  border-radius: 0.2rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: #acc12f;
  border: none;
  outline: none;
}
body .modal-container .modal.edit-user .modal-content .edit-user-container .edit-user-content .edit-user-submit-button button:focus {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.edit-account {
  height: 25rem;
  width: 33rem;
}
body .modal-container .modal.edit-account .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.edit-account .modal-content .close-button {
  align-self: center;
  justify-self: flex-end;
}
body .modal-container .modal.edit-account .modal-content .close-button button {
  margin: 0.3rem 0.2rem 0rem 0rem;
  outline: none;
  border: none;
  background: none;
}
body .modal-container .modal.edit-account .modal-content .close-button button:hover {
  cursor: pointer;
}
body .modal-container .modal.edit-account .modal-content .close-button button:focus {
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.edit-account .modal-content .edit-account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-title {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.7rem;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields label {
  font-size: 1.1rem;
  font-weight: bold;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields select {
  padding: 0.4rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields select:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields input {
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 2px solid #136f63;
  outline: none;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields input:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields .password-container input {
  position: relative;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields .password-container span i {
  position: fixed;
  margin-top: -1.5rem;
  margin-left: 16rem;
  cursor: pointer;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-submit-button {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-submit-button button {
  border-radius: 0.2rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: #acc12f;
  border: none;
  outline: none;
}
body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-submit-button button:focus {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.delete-user {
  height: 10rem;
  width: 18rem;
}
body .modal-container .modal.delete-user .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .delete-user-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .delete-decide-buttons-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .delete-decide-buttons-container .delete-decide-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .delete-decide-buttons-container .delete-decide-buttons button {
  border-radius: 0.2rem;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: #e4572e;
  border: none;
  outline: none;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .delete-decide-buttons-container .delete-decide-buttons button:focus {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .create-user-submit-button {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .create-user-submit-button button {
  border-radius: 0.2rem;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: #acc12f;
  border: none;
  outline: none;
}
body .modal-container .modal.delete-user .modal-content .delete-user-container .create-user-submit-button button:focus {
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.13);
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.view-user {
  height: 32rem;
  width: 28rem;
}
body .modal-container .modal.view-user .modal-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.view-user .modal-content .close-button {
  align-self: center;
  justify-self: flex-end;
}
body .modal-container .modal.view-user .modal-content .close-button button {
  margin: 0.3rem 0.2rem 0rem 0rem;
  outline: none;
  border: none;
  background: none;
}
body .modal-container .modal.view-user .modal-content .close-button button:hover {
  cursor: pointer;
}
body .modal-container .modal.view-user .modal-content .close-button button:focus {
  -webkit-transfrom: scale(1.1);
  -moz-transfrom: scale(1.1);
  transform: scale(1.1);
}
body .modal-container .modal.view-user .modal-content .view-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.view-user .modal-content .view-user-container .view-user-content {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
  grid-row-gap: 1.5rem;
}
body .modal-container .modal.view-user .modal-content .view-user-container .view-user-content .view-user-title {
  grid-column: 2/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.view-user .modal-content .view-user-container .view-user-content .info-container {
  grid-column: 2/4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .modal-container .modal.view-user .modal-content .view-user-container .view-user-content .info-container ul {
  list-style: none;
}
body .modal-container .modal.view-user .modal-content .view-user-container .view-user-content .info-container ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
body .modal-container .modal.view-user .modal-content .view-user-container .view-user-content .info-container ul li span {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 1rem;
}

body main .table-title {
  margin-bottom: 2rem;
}
body main .table-title h1 span {
  border-bottom: 3px solid black;
  padding-bottom: 0.3rem;
}
body main .table-search {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .table-search input {
  min-width: 98%;
  padding: 0.6rem;
  text-align: center;
  font-size: 1.1rem;
  outline: none;
  border: 2px solid #136f63;
  background: url(../images/icons8-search-filled-30.png) no-repeat center;
}
body main .table-search input:focus {
  border: 2px solid #364156;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body main .table-container table {
  min-width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}
body main .table-container table tbody {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body main .table-container table tbody tr th {
  text-align: center;
  padding: 0rem 0.5rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
body main .table-container table tbody tr th:nth-child(6) {
  padding: 0rem 1rem 0rem 1rem;
}
body main .table-container table tbody tr th:last-child {
  border-right: none;
}
body main .table-container table tbody tr td {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body main .table-container table tbody tr td:nth-child(2) {
  cursor: pointer;
}
body main .table-container table tbody tr td:nth-child(2):hover {
  font-weight: bold;
}
body main .table-container table tbody tr td:nth-child(3) {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
body main .table-container table tbody tr td:nth-child(3) i {
  cursor: pointer;
}
body main .table-container table tbody tr td:last-child {
  border-right: none;
}
body main .table-container table tbody tr td:last-child i {
  cursor: pointer;
}
body main .table-container .table-notification {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .table-pagination {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body main .table-pagination ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1rem;
  list-style: none;
}
body main .table-pagination ul li {
  text-align: center;
  padding: 1px 5px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-weight: bold;
  outline: none;
}
body main .table-pagination ul li:hover {
  background: #0b4f6c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
body main .table-pagination ul li:focus {
  background: #0b4f6c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body.system-login footer {
  background: none;
}
body footer {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 100vw;
  background: #7678ed;
  text-align: center;
  padding: 0.2rem 0;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  body .modal-container .modal.create-user {
    width: 100vw;
    height: 100vh;
  }
  body .modal-container .modal.create-user .modal-content .close-button button {
    margin: 0.3rem 1rem 0rem 0rem;
  }
  body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content {
    grid-template-columns: 1fr repeat(2, minmax(auto, 13rem)) 1fr;
    padding: 1rem;
  }
  body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content .create-user-input-fields {
    grid-template-columns: 1fr;
  }
  body .modal-container .modal.edit-account {
    width: 100vw !important;
    height: 100vh !important;
  }
  body .modal-container .modal.edit-account .modal-content .close-button button {
    margin: 0.3rem 0.5rem 0rem 0rem;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content {
    padding: 1rem;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields {
    grid-template-columns: 1fr;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields .password-container span i {
    position: fixed;
    margin-top: -1.5rem;
    margin-left: 17.3rem !important;
    cursor: pointer;
  }
  body.system-login {
    background: #b2ece1;
  }
  body.system-login main .login-content {
    border-radius: none;
    box-shadow: none;
  }
  body header.dashboard-navigation .logo-navigation-container {
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
  }
  body header.dashboard-navigation .logo-navigation-container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body header.dashboard-navigation .logo-navigation-container nav ul li:first-child {
    margin-right: 0.5rem;
  }
  body header.dashboard-navigation .logo-navigation-container nav aside {
    margin-top: 2.7rem;
    margin-left: -0.3rem;
  }
  body main.dashboard .dashboard-menus-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  body .modal-container .modal.create-user {
    width: 100vw;
    height: 100vh;
  }
  body .modal-container .modal.create-user .modal-content .close-button button {
    margin: 0.3rem 0.5rem 0rem 0rem;
  }
  body .modal-container .modal.create-user .modal-content .create-user-container .create-user-content {
    grid-template-columns: 1fr repeat(2, minmax(auto, 15rem)) 1fr;
  }
  body .modal-container .modal.edit-account {
    width: 100vw !important;
    height: 100vh !important;
  }
  body .modal-container .modal.edit-account .modal-content .close-button button {
    margin: 0.3rem 0.3rem 0rem 0rem;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content {
    padding: 1rem;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields {
    grid-template-columns: 1fr;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields .password-container {
    margin-right: 3.8rem;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields .password-container input {
    width: 100%;
  }
  body .modal-container .modal.edit-account .modal-content .edit-account-container .edit-account-content .edit-account-input-fields .password-container span i {
    position: fixed;
    margin-top: -1.6rem;
    margin-left: 26.5rem;
    cursor: pointer;
  }
  body header.dashboard-navigation .logo-navigation-container {
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
  }
  body header.dashboard-navigation .logo-navigation-container nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  body header.dashboard-navigation .logo-navigation-container nav ul li:first-child {
    margin-right: 0.5rem;
  }
  body header.dashboard-navigation .logo-navigation-container nav aside {
    margin-top: 2.7rem;
    margin-left: -0.3rem;
  }
  body header.dashboard-navigation .logo-navigation-container nav aside ul li:first-child {
    width: 90%;
  }
  body main.dashboard .dashboard-menus-container {
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  body.front-page main .item-list-container {
    margin: 0rem 1rem;
  }
  body.front-page main .item-list-container .list-of-items table th {
    padding: 0.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
