body {
  &.system-login {
    footer {
      background: none;
    }
  }
  footer {
    @include point-twenty-transition();
    width: 100vw;
    background: $primary-bg-color;
    text-align: center;
    padding: 0.2rem 0;
    font-weight: bold;
  }
}
