body {
  .modal-container {
    height: 100vh;
    width: 100vw;
    z-index: 900;
    display: none;
    opacity: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    @include point-twenty-transition();

    .modal {
      background: $secondary-bg-color;
      height: 20rem;
      width: 20rem;
      border-radius: 0.5rem;
      @include box-shadow();

      &.create-user {
        height: 30.5rem;
        width: 31rem;

        .modal-content {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 1.5rem;

          .close-button {
            align-self: center;
            justify-self: flex-end;

            button {
              margin: 0.3rem 0.2rem 0rem 0rem;
              outline: none;
              border: none;
              background: none;

              &:hover {
                cursor: pointer;
              }

              &:focus {
                @include make-bigger();
              }
            }
          }

          .create-user-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .create-user-content {
              display: grid;
              grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
              grid-row-gap: 1.5rem;

              .create-user-title {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .create-user-input-fields {
                grid-column: 2/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 0.7rem;

                label {
                  font-size: 1.1rem;
                  font-weight: bold;
                }

                select {
                  padding: 0.4rem;
                  font-size: 1.1rem;
                  border-radius: 0.3rem;
                  border: 2px solid #136f63;
                  outline: none;

                  &:focus {
                    border: 2px solid #364156;
                    @include point-twenty-transition();
                  }
                }

                input {
                  padding: 0.4rem 0.5rem;
                  font-size: 1.1rem;
                  text-align: center;
                  border-radius: 0.3rem;
                  border: 2px solid #136f63;
                  outline: none;

                  &:focus {
                    border: 2px solid #364156;
                    @include point-twenty-transition();
                  }
                }

                input[type="date"] {
                  padding: 0.4rem 0.5rem;
                  font-size: 1.1rem;
                  text-align: left;
                  font-weight: bold;
                }
              }

              .create-user-submit-button {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                  border-radius: 0.2rem;
                  padding: 0.6rem;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
                  background: $warning-color;
                  border: none;
                  outline: none;

                  &:focus {
                    @include box-shadow();
                    @include make-bigger();
                  }
                }
              }
            }
          }
        }
      }

      &.edit-user {
        height: 30.5rem;
        width: 31rem;

        .modal-content {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 1.5rem;

          .close-button {
            align-self: center;
            justify-self: flex-end;

            button {
              margin: 0.3rem 0.2rem 0rem 0rem;
              outline: none;
              border: none;
              background: none;

              &:hover {
                cursor: pointer;
              }

              &:focus {
                @include make-bigger();
              }
            }
          }

          .edit-user-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .edit-user-content {
              display: grid;
              grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
              grid-row-gap: 1.5rem;

              .edit-user-title {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .edit-user-input-fields {
                grid-column: 2/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 0.7rem;

                label {
                  font-size: 1.1rem;
                  font-weight: bold;
                }

                select {
                  padding: 0.4rem;
                  font-size: 1.1rem;
                  border-radius: 0.3rem;
                  border: 2px solid #136f63;
                  outline: none;

                  &:focus {
                    border: 2px solid #364156;
                    @include point-twenty-transition();
                  }
                }

                input {
                  padding: 0.4rem 0.5rem;
                  font-size: 1.1rem;
                  text-align: center;
                  border-radius: 0.3rem;
                  border: 2px solid #136f63;
                  outline: none;

                  &:focus {
                    border: 2px solid #364156;
                    @include point-twenty-transition();
                  }
                }

                input[type="date"] {
                  padding: 0.4rem 0.5rem;
                  font-size: 1.1rem;
                  text-align: left;
                  font-weight: bold;
                }
              }

              .edit-user-submit-button {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                  border-radius: 0.2rem;
                  padding: 0.6rem;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
                  background: $warning-color;
                  border: none;
                  outline: none;

                  &:focus {
                    @include box-shadow();
                    @include make-bigger();
                  }
                }
              }
            }
          }
        }
      }

      &.edit-account {
        height: 25rem;
        width: 33rem;

        .modal-content {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 1.5rem;

          .close-button {
            align-self: center;
            justify-self: flex-end;

            button {
              margin: 0.3rem 0.2rem 0rem 0rem;
              outline: none;
              border: none;
              background: none;

              &:hover {
                cursor: pointer;
              }

              &:focus {
                @include make-bigger();
              }
            }
          }

          .edit-account-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .edit-account-content {
              display: grid;
              grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
              grid-row-gap: 1.5rem;

              .edit-account-title {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .edit-account-input-fields {
                grid-column: 2/4;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-row-gap: 0.7rem;

                label {
                  font-size: 1.1rem;
                  font-weight: bold;
                }

                select {
                  padding: 0.4rem;
                  font-size: 1.1rem;
                  border-radius: 0.3rem;
                  border: 2px solid #136f63;
                  outline: none;

                  &:focus {
                    border: 2px solid #364156;
                    @include point-twenty-transition();
                  }
                }

                input {
                  padding: 0.4rem 1.8rem;
                  font-size: 1.1rem;
                  text-align: center;
                  border-radius: 0.3rem;
                  border: 2px solid #136f63;
                  outline: none;

                  &:focus {
                    border: 2px solid #364156;
                    @include point-twenty-transition();
                  }
                }

                .password-container {
                  input {
                    position: relative;
                  }

                  span {
                    i {
                      position: fixed;
                      margin-top: -1.5rem;
                      margin-left: 16rem;
                      cursor: pointer;
                    }
                  }
                }
              }

              .edit-account-submit-button {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                  border-radius: 0.2rem;
                  padding: 0.6rem;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
                  background: $warning-color;
                  border: none;
                  outline: none;

                  &:focus {
                    @include box-shadow();
                    @include make-bigger();
                  }
                }
              }
            }
          }
        }
      }

      &.delete-user {
        height: 10rem;
        width: 18rem;

        .modal-content {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 1.5rem;

          .delete-user-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 10rem;

            .delete-user-title {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
            }

            .delete-decide-buttons-container {
              margin-top: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;

              .delete-decide-buttons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1rem;

                button {
                  border-radius: 0.2rem;
                  padding: 0.3rem;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
                  background: $danger-color;
                  border: none;
                  outline: none;

                  &:focus {
                    @include box-shadow();
                    @include make-bigger();
                  }
                }
              }
            }

            .create-user-submit-button {
              grid-column: 2/4;
              display: flex;
              align-items: center;
              justify-content: center;

              button {
                border-radius: 0.2rem;
                padding: 0.6rem;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
                background: $warning-color;
                border: none;
                outline: none;

                &:focus {
                  @include box-shadow();
                  @include make-bigger();
                }
              }
            }
          }
        }
      }

      &.view-user {
        height: 32rem;
        width: 28rem;

        .modal-content {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 1.5rem;

          .close-button {
            align-self: center;
            justify-self: flex-end;

            button {
              margin: 0.3rem 0.2rem 0rem 0rem;
              outline: none;
              border: none;
              background: none;

              &:hover {
                cursor: pointer;
              }

              &:focus {
                @include make-bigger();
              }
            }
          }

          .view-user-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .view-user-content {
              display: grid;
              grid-template-columns: 1fr repeat(2, minmax(auto, 14rem)) 1fr;
              grid-row-gap: 1.5rem;

              .view-user-title {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .info-container {
                grid-column: 2/4;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                ul {
                  list-style: none;

                  li {
                    margin-bottom: 0.5rem;

                    span {
                      &:nth-child(1) {
                        font-size: 1.1rem;
                        font-weight: bold;
                        margin-right: 1rem;
                      }

                      &:nth-child(2) {
                        cursor: pointer;
                        &:hover {
                          font-weight: bold;
                        }
                      }
                    }
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }

      &.add-item {
        height: 35rem;
        width: 35rem;

        .modal-content {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 1.5rem;

          .close-button {
            align-self: center;
            justify-self: flex-end;

            button {
              margin: 0.3rem 0.2rem 0rem 0rem;
              outline: none;
              border: none;
              background: none;

              &:hover {
                cursor: pointer;
              }

              &:focus {
                @include make-bigger();
              }
            }
          }

          .add-item-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .add-item-content {
              display: grid;
              grid-template-columns: 1fr repeat(2, minmax(auto, 40rem)) 1fr;
              grid-row-gap: 1.5rem;

              .add-item-title {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .add-item-input-fields-container {
                grid-column: 2/4;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .add-item-input-fields {
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  grid-row-gap: 0.7rem;

                  label {
                    font-size: 1.1rem;
                    font-weight: bold;
                  }

                  select {
                    padding: 0.4rem;
                    font-size: 1.1rem;
                    border-radius: 0.3rem;
                    border: 2px solid #136f63;
                    outline: none;

                    &:focus {
                      border: 2px solid #364156;
                      @include point-twenty-transition();
                    }
                  }

                  input {
                    padding: 0.4rem 0.5rem;
                    font-size: 1.1rem;
                    text-align: center;
                    border-radius: 0.3rem;
                    border: 2px solid #136f63;
                    outline: none;

                    &:focus {
                      border: 2px solid #364156;
                      @include point-twenty-transition();
                    }
                  }

                  input[type="date"] {
                    padding: 0.4rem 0.5rem;
                    font-size: 1.1rem;
                    text-align: left;
                    font-weight: bold;
                  }

                  textarea {
                    padding: 0.4rem;
                    font-size: 1.1rem;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 0.3rem;
                    border: 2px solid #136f63;
                    outline: none;
                    resize: none;

                    &:focus {
                      border: 2px solid #364156;
                      @include point-twenty-transition();
                    }
                  }
                }
              }

              .add-item-submit-button {
                grid-column: 2/4;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                  border-radius: 0.2rem;
                  padding: 0.6rem;
                  cursor: pointer;
                  font-size: 1rem;
                  font-weight: bold;
                  background: $warning-color;
                  border: none;
                  outline: none;

                  &:focus {
                    @include box-shadow();
                    @include make-bigger();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
