@include mediaSm {
  body {
    .modal-container {
      .modal {
        &.create-user {
          width: 100vw;
          height: 100vh;

          .modal-content {
            .close-button {
              button {
                margin: 0.3rem 1rem 0rem 0rem;
              }
            }
            .create-user-container {
              .create-user-content {
                grid-template-columns: 1fr repeat(2, minmax(auto, 13rem)) 1fr;
                padding: 1rem;
                .create-user-input-fields {
                  grid-template-columns: 1fr;
                }
              }
            }
          }
        }
        &.edit-account {
          width: 100vw !important;
          height: 100vh !important;
          .modal-content {
            .close-button {
              button {
                margin: 0.3rem 0.5rem 0rem 0rem;
              }
            }
            .edit-account-container {
              .edit-account-content {
                padding: 1rem;

                .edit-account-input-fields {
                  grid-template-columns: 1fr;

                  .password-container {
                    input {
                    }

                    span {
                      i {
                        position: fixed;
                        margin-top: -1.5rem;
                        margin-left: 17.3rem !important;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.system-login {
      background: $secondary-bg-color;

      main {
        .login-content {
          border-radius: none;
          box-shadow: none;
        }
      }
    }

    header {
      &.dashboard-navigation {
        .logo-navigation-container {
          grid-template-columns: 1fr;
          grid-row-gap: 0.5rem;
          nav {
            ul {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              li {
                &:first-child {
                  margin-right: 0.5rem;
                }
              }
            }

            aside {
              margin-top: 2.7rem;
              margin-left: -0.3rem;
            }
          }
        }
      }
    }

    main {
      &.dashboard {
        .dashboard-menus-container {
          margin-top: 1rem;
          margin-bottom: 1rem;
          grid-template-columns: 1fr;
          grid-row-gap: 3rem;
        }
      }
    }
  }
}

@include mediaMd {
  body {
    .modal-container {
      .modal {
        &.create-user {
          width: 100vw;
          height: 100vh;

          .modal-content {
            .close-button {
              button {
                margin: 0.3rem 0.5rem 0rem 0rem;
              }
            }
            .create-user-container {
              .create-user-content {
                grid-template-columns: 1fr repeat(2, minmax(auto, 15rem)) 1fr;
              }
            }
          }
        }

        &.edit-account {
          width: 100vw !important;
          height: 100vh !important;

          .modal-content {
            .close-button {
              button {
                margin: 0.3rem 0.3rem 0rem 0rem;
              }
            }
            .edit-account-container {
              .edit-account-content {
                padding: 1rem;

                .edit-account-input-fields {
                  grid-template-columns: 1fr;

                  .password-container {
                    margin-right: 3.8rem;
                    input {
                      width: 100%;
                    }

                    span {
                      i {
                        position: fixed;
                        margin-top: -1.6rem;
                        margin-left: 26.5rem;
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    header {
      &.dashboard-navigation {
        .logo-navigation-container {
          grid-template-columns: 1fr;
          grid-row-gap: 0.5rem;
          nav {
            ul {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;

              li {
                &:first-child {
                  margin-right: 0.5rem;
                }
              }
            }

            aside {
              margin-top: 2.7rem;
              margin-left: -0.3rem;

              ul {
                li {
                  &:first-child {
                    width: 90%;
                  }
                }
              }
            }
          }
        }
      }
    }

    main {
      &.dashboard {
        .dashboard-menus-container {
          grid-template-columns: 1fr;
          grid-row-gap: 2.5rem;
        }
      }
    }
  }
}

@include mediaLg {
  body {
    &.front-page {
      main {
        .item-list-container {
          margin: 0rem 1rem;
          .list-of-items {
            table {
              th {
                padding: 0.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@include mediaXl {
}
