body {
  main {
    .table-title {
      margin-bottom: 2rem;
      h1 {
        span {
          border-bottom: 3px solid black;
          padding-bottom: 0.3rem;
        }
      }
    }

    .table-search {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      input {
        min-width: 98%;
        padding: 0.6rem;
        text-align: center;
        outline: none;
        border: 2px solid red;
        background: url(../images/icons8-search-filled-30.png) no-repeat center;

        &:focus {
          border: 2px solid #020202;
          @include point-twenty-transition();
        }
      }
    }
    .table-container {
      table {
        min-width: 100%;
        border-collapse: collapse;
        border: 2px solid black;

        tbody {
          tr {
            th {
              text-align: center;
              padding: 0 0.5rem;
              border-bottom: 2px solid black;
              border-right: 2px solid black;

              &:last-child {
                border-right: none;
              }
            }

            td {
              text-align: center;
              padding: 0.5rem 0.6rem;
              border-bottom: 2px solid black;
              border-right: 2px solid black;

              &:last-child {
                border-right: none;
              }
            }
          }
        }
      }
    }

    .table-pagination {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-column-gap: 1rem;
        list-style: none;

        li {
          text-align: center;
          padding: 1px 5px;
          cursor: pointer;
          border: 2px solid black;
          border-radius: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }
}
